@model MyFirstStore.ViewModels.UserForEdit

<form asp-action="DroppingPassword" asp-controller="Admin">
    <input type="hidden" asp-for="Id" />
    <div class="editBox">
        <div>
            <span class="labelWidth">Сбросить пароль @Model.Name (@Model.Email) на стандартный Qwerty123$? (да)</span>
            <input type="checkbox" name="yesDroppingPassword" value="true" />
        </div>
        <input class="editButton" type="submit" value="Сохранить" />
    </div>
</form>