@model MyFirstStore.ViewModels.UserChangePassword;
    <form asp-action="ChangePassword" asp-controller="Account">
        <div class="editBox">
            <div>
                <label asp-for="OldPassword" class="labelWidth">Старый пароль</label>
                <input asp-for="OldPassword" class="inputWidth" required pattern="[A-Za-z0-9!@@#$%^&*]{5,25}" placeholder="5-25 букв, цифр, символов" />
                <span asp-validation-for="OldPassword"></span>
            </div>
            <div>
                <label asp-for="NewPassword" class="labelWidth">Новый пароль</label>
                <input asp-for="NewPassword" class="inputWidth" required pattern="[A-Za-z0-9!@@#$%^&*]{5,25}" placeholder="5-25 букв, цифр, символов" />
                <span asp-validation-for="NewPassword"></span>
            </div>
            <input type="submit" class="editButton" value="Сохранить" />
        </div>
    </form>