 @model MyFirstStore.ViewModels.UserForEdit

    <form asp-action="Delete" asp-controller="Account">
        <div class="editBox">
            <div>
                <span class="labelWidth">Удалить учетную запись @Model.Name (@Model.Email)? (да)</span>
                <input type="checkbox" name="yesDelete" value="true" />
            </div>
                <input type="submit" class="editButton" value="Сохранить" />
        </div>
    </form>