.bcDefault { background: #383838;}
.bcDefaultColor { background: #4a4a48;}
.bc {background: #ffca38;}
.passe-partout {border: 3px solid grey;}
<!---->
.borderProductBoxf69730 {border: 3px solid #f69730;}
.bcf69730 {background: #f69730;}
.borderProductBox {border: 3px solid #ffca38;}
.bcffca38 {background: #ffca38;}
.borderProductBoxffca38 {border: 3px solid #ffca38;}
.bcffdb78 {background: #ffdb78;}
.borderProductBoxffdb78 {border: 3px solid #ffdb78;}
.bcf542f2 {background: #f542f2;}
.borderProductBoxf542f2 {border: 3px solid #f542f2;}
.bc4aff74 {background: #4aff74;}
.borderProductBox4aff74 {border: 3px solid #4aff74;}
.bc8affa5 {background: #8affa5;}
.borderProductBox8affa5 {border: 3px solid #8affa5;}
.bc00fc3b {background: #00fc3b;}
.borderProductBox00fc3b {border: 3px solid #00fc3b;}
.bc123456 {background: #123456;}
.borderProductBox123456 {border: 3px solid #123456;}
.bcf542f2 {background: #f542f2;}
.borderProductBoxf542f2 {border: 3px solid #f542f2;}
.bc123456 {background: #123456;}
.borderProductBox123456 {border: 3px solid #123456;}
.bcf542f2 {background: #f542f2;}
.borderProductBoxf542f2 {border: 3px solid #f542f2;}
.bc092e69 {background: #092e69;}
.borderProductBox092e69 {border: 3px solid #092e69;}
.bc2056ab {background: #2056ab;}
.borderProductBox2056ab {border: 3px solid #2056ab;}
.bc3a7be0 {background: #3a7be0;}
.borderProductBox3a7be0 {border: 3px solid #3a7be0;}
.bc065921 {background: #065921;}
.borderProductBox065921 {border: 3px solid #065921;}
.bc0a9136 {background: #0a9136;}
.borderProductBox0a9136 {border: 3px solid #0a9136;}
.bcf542f2 {background: #f542f2;}
.borderProductBoxf542f2 {border: 3px solid #f542f2;}
.bc123456 {background: #123456;}
.borderProductBox123456 {border: 3px solid #123456;}
.bc0e2852 {background: #0e2852;}
.borderProductBox0e2852 {border: 3px solid #0e2852;}
.bc214c91 {background: #214c91;}
.borderProductBox214c91 {border: 3px solid #214c91;}
.bc3473d9 {background: #3473d9;}
.borderProductBox3473d9 {border: 3px solid #3473d9;}
.bc0b7316 {background: #0b7316;}
.borderProductBox0b7316 {border: 3px solid #0b7316;}
.bc15ad25 {background: #15ad25;}
.borderProductBox15ad25 {border: 3px solid #15ad25;}
.bcf542f2 {background: #f542f2;}
.borderProductBoxf542f2 {border: 3px solid #f542f2;}
