<div class="editBox">
    <a asp-action="Orders" class="editButton" asp-controller="Storekeeper">Заказы</a>
    <a asp-action="Products" class="editButton" asp-controller="Storekeeper">Товары</a>
</div>
