.sortButtonsBox {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.sortButtonsText {
    font-size: 12pt;
    font-weight: bold;
    font-family: Arial;
    color: #383838;
}
.sortButton {
    background: #383838;
    border: 0;
    color: #e3e4e5;
    margin: 2px;
    font-size: 12pt;
    font-weight: bold;
    font-family: Arial;
    cursor: pointer;
    transition: 0.1s all;
}
.sortButton:hover {
    transform:  scale(1.08);
    background: grey;
}

.sortButtonDisable {
    background: #e3e4e5;
    border: 0;
    color: #383838;
    margin: 2px;
    font-size: 12pt;
    font-weight: bold;
    font-family: Arial;
}