<div class="editBox">
    <a class="editButton" asp-action="ProductAttributesView" asp-controller="ContentMaking">Атрибуты</a>
    <a class="editButton" asp-action="ProductsTypesView" asp-controller="ContentMaking">Типы товаров</a>
    <a class="editButton" asp-action="ProductsView" asp-controller="ContentMaking">Товары</a>
</div>